@charset "utf-8";
@import url("fontiran.css");

/* @import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css'); */

body,
html {
    margin: 0;
    background-color: #f7f8f8;
    background-image: linear-gradient(135deg, #f7f8f8 0%, #f5f7f8 100%);
}

a {
    text-decoration: none !important;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.bold {
    font-weight: bold;
}

.clearfix {
    clear: both;
}


.top-contact {
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* background-color: #1D3557; */
    background-color: #FFF;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    padding-top: 7px;
    /* border-bottom: 1px solid #f9f9f9; */
}

.top-contact .menu {
    font-family: 'IRANSansLight';
    color: #777;
    font-size: 13px;
    font-weight: bold;
}

.top-contact .menu a {
    margin-left: 14px;
    color: #777;
    text-decoration: none;
}

.top-contact .menu a.active {
    color: #db291c;
}

.con-top-contact {
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 8px;
}

.middle-header {
    width: 100%;
    height: 85px;
    overflow: hidden;
    background-color: #ffffff;
    direction: rtl;
    padding-top: 10px;
}
.middle-header .logo-block {
    float: left;
    text-align: left;
}
.middle-header .logo-text-block {
    float: right;
    text-align: right;
    padding-top: 20px;
    
}

.middle-header .logo-text-block h5 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 2px 0 #aaa,
               0 2px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.3),
               0 3px 2px rgba(0,0,0,.2),
               0 2px 4px rgba(0,0,0,.25),
               0 4px 4px rgba(0,0,0,.2),
               0 8px 8px rgba(0,0,0,.15);

}


.pad-zero {
    padding: 0 !important;
}
.pad-nine {
    padding: 9px !important;
}


nav {
    background-color: #cc0000 !important;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75) !important;
}

.navbar {
    transition: padding 0.5s;
}


.navbar-nav.mx-auto {
    animation:  2s ease-out both;
  }
  .navbar-nav.text-md-right {
    animation:  2s ease-out both;
  }
  
.navbar-nav li {
    margin-left: 7px !important;
    
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #cc0000 !important;
    color: #f9f9f9 !important;
}
.nav-link-text {
    color: #f5f5f5 !important;
}

.nav-link-text:hover {
    color: #111111 !important;
    background: #ffffff !important;
    border-radius: 10px !important;
}


img.hide-logo-image {
    border:2px solid #fff;
  background: url(img/duck.png) no-repeat;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}

@media (max-width: 1025px) {
    .top-contact {
        height: 0 !important;
        display: none;
    }
    .middle-header {
        height: 0 !important;
        display: none;
    }
    .nav-link-logo {
        display: none !important;
    }
    .navbar {
        padding: 9px !important;
    }
}